.wrap {

    .title {
        padding: 8px;
        background-color: #9FA8DA;
        color: white;
    }

    .item {
        display: flex;
        justify-content: space-between;
        padding: 4px 16px 4px;
        color: green;

        .link {
            text-decoration: none;
            color: green;
            cursor: pointer;
        }

        .closeBtn {
            font-size: 18px;
            color: lightgray;
            cursor: pointer;
            &:hover {
                color: #f44336;
            }
        }
    }

    & :global .MuiList-root {
        padding: 0;

    }
}
