.wrap {

    & :global .MuiOutlinedInput-root {
        font-size: 16px;
        font-family: inherit
    }

    & :global .MuiInputLabel-root {
        font-size: 16px;
        font-family: inherit
    }

    & :global .MuiTypography-root {
        font-size: 16px;
        font-family: inherit
    }

    .name {
        margin-top: 16px;
        width: 100%;
    }

    .checkVisible {
        margin-top: 16px;
    }

    .btnWrap {
        display: flex;
        justify-content: center;
        .button {
            min-width: 50%;
            margin-top: 16px;
            padding: 6px;
            font-family: inherit;
            background-color: #9FA8DA;
            color: white;
            border: none;
            font-size: 16px;
        }
    }
}
